
$font_default:      Arial, Helvetica, sans-serif;
$font_secondary:    "Times New Roman", Times, serif;

$font_size_regular: 12px;
$font_size_medium: 14px;
$font_size_large: 16px;

$success_background: greenyellow;
$error_background: red;
